extends ../layout/main

block variables
  - var title = 'WebPack Template'
  - var description = 'WebPack Template'
  - var pageClass = 'index-page'

block content  
  section
    .container
      h1 WebPack Template
      +item('hello', 'world')
      example-component